<div class="spinner-border text-primary loading" role="status" *ngIf="loading">
  <span class="sr-only">Loading...</span>
</div>
<div class="row">
  <div class="card" *ngIf="estado == 'proto'">
    <div class="card-header">
      <i class="fa fa-align-justify"></i> Protocolos
    </div>
    <div class="card-body">
      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
        <thead>
          <tr>
            <th>Protocolo</th>
            <th>Codigo</th>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th>Revision</th>
            <th>Responsable</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of protocolo">
            <td>{{item.idProtocolo}}</td>
            <td>{{item.codigo}}</td>
            <td>{{item.nombre}}</td>
            <td>{{item.descripcion}}</td>
            <td>{{item.revision}}</td>
            <td>{{item.responsable}}</td>
            <td><button type="button" class="btn btn-brand btn-behance"
                (click)="estado='actividad';listarActividad(item.idProtocolo)">
                <i class="fa fa-eye"></i>
              </button></td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
  <!--Card Actividad-->

  <div class="card" *ngIf="estado=='actividad'">
    <div class="card-header">
      <i class="fa fa-align-justify"></i> Actividades 
    </div>
    <div class="card-body">
      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
        <thead>
          <tr>
            <th>Items</th>
            <th>Actividades</th>
            <th>Estado</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of actividad  ">
            <td>{{item.items}}</td>
            <td>{{item.actividades}}</td>
            <td>{{item.estado}}</td>
          </tr>
        </tbody>
      </table>

    </div>
    
  </div>


</div>