<div class="spinner-border text-primary loading" role="status" *ngIf="loading">
  <span class="sr-only">Loading...</span>
</div>
<div class="row linea">
  <div class="col-8">
    <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1"><i class="fa fa-search"></i></span>
        </div>
        <input type="search" class="form-control" placeholder="Buscar" [(ngModel)]="text">
      </div>
  </div>
  <div class="col-4">
    <button type="button" class="btn btn-brand btn-behance">
      <i class="fa fa-plus"></i><span>Nuevo Protocolo</span>
    </button>
  </div>
</div>
<div class="card" *ngFor="let item of protocolo | filter: {nombre:text,codigo:text,responsable:text,hora:text}">
  <div class="card-body">
    <div class="row">
      <div class="col-sm-8">
        <button type="button" class="btn btn-primary item">
          {{item.idProtocolo}}
        </button>
        <p class="nombre"><b>{{item.nombre}}</b></p>
        <p class="codigo">{{item.codigo}}</p>
        <p class="responsable">{{item.responsable}}</p>
       <!--<td>{{item.estado}}</td>--> 
      </div>
      <div class="col-sm-4">
        <button type="button" class="btn btn-pill btn-primary ver"><i class="fa fa-eye"></i></button><br>
      </div>
    </div>
  </div>
</div>
  <!--Card Actividad-->
<div class="row"*ngIf="estado=='actividad'"> 
  <div class="card" style="width: 100%; ">
    <div class="card-header">
      <i class="fa fa-align-justify"></i> Actividades 
    </div>
    <div class="card-body">
      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
        <thead>
          <tr>
            <th>Items</th>
            <th>Actividades</th>
            <th>Estado</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of actividad  ">
            <td>{{item.items}}</td>
            <td>{{item.actividades}}</td>
            <td>{{item.estado}}</td>
          </tr>
        </tbody>
      </table>
    </div>  
  </div>
  <button type="button" class="btn btn-primary volver" (click)="estado='proto'" >
      volver
     </button>  
</div>
 