<!-- Button trigger modal -->
<button (click)="abrirModal()" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  +
</button>

<style>
mat-tab {
  display: block;
  animation: none;
  position: relative;
}
</style>

<!-- HOLA ALISON -->

<div *ngIf="service.modal" class="modal" tabindex="-1" role="dialog" style="display: block;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button (click)="cerrarModal()" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h4 class="text-center">Actualizar cotizacion</h4>
        <hr>
        <form action="">
          <div class="row">

            <div class="form-group col-6">
              <label for="empresa">Empresa</label>
              <input type="text" name="empresa" id="" class="form-control" placeholder="">
            </div>

            <div class="form-group col-6">
              <label for="cliente">Cliente</label>
              <input type="text" name="cliente" id="" class="form-control" placeholder="">
            </div>

            <div class="form-group col-6">
                <label for="viaticos">Viaticos</label>
                <input type="text" name="viaticos" id="" class="form-control" placeholder="">
            </div>

            <div class="form-group col-6">
                <label for="vigencia">Vigencia</label>
                <input type="text" name="vigencia" id="" class="form-control" placeholder="">
            </div>

            <div class="form-group col-6">
                <label for="metodoPago">Metodo pago</label>
                <input type="text" name="metodoPago" id="" class="form-control" placeholder="">
            </div>

            <div class="form-group col-6">
                <label for="fecha">Fecha</label>
                <input type="text" name="fecha" id="" class="form-control" placeholder="">
            </div>

            <div class="form-group col-6">
                <label for="responsable">Responsable</label>
                <input type="text" name="responsable" id="" class="form-control" placeholder="">
            </div>

            <div class="form-group col-6">
                <label for="estado">Estado</label>
                <input type="text" name="estado" id="" class="form-control" placeholder="">
            </div>

          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Save changes</button>
        <button (click)="cerrarModal()" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="card">
    <div class="card-header">
      <i class="fa fa-align-justify"></i> Protocolos
    </div>
    <div class="card-body">
      <table datatable class="row-border hover text-center">
        <thead>
          <tr>
            <th>#</th>
            <th>Empresa</th>
            <th>Cliente</th>
            <th>Viaticos</th>
            <th>Vigencia</th>
            <!--             <th>Valor</th> -->
            <th>Metodo Pago</th>
            <th>Fecha Entrega</th>
            <th>Responsable</th>
            <th>Estado</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of cotizaciones">
            <td>{{item.idCotizEncab}}</td>
            <td>{{item.fkEmpresa.nombreEmpresa}}</td>
            <td>{{item.fkCliente.nombre}}</td>
            <td>{{item.viaticoValor}}</td>
            <td>{{item.vigencia}} Dia/s</td>
            <!--             <th>{{item.}}</th> -->
            <td>{{item.condicionPago}}</td>
            <td>{{item.entrega}}</td>
            <td>{{item.responsable}}</td>
            <td>{{item.estadoStr}}</td>
            <td><button type="button" class="btn btn-brand btn-behance"
                (click)="estado='actividad';listarActividad(item.idProtocolo)">
                <i class="fa fa-eye"></i>
              </button></td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>



</div>