<!-- Button trigger modal -->

<!-- <span *ngFor="let item of dataClientes">{{item.nombre}}</span> -->

<style>
  mat-tab {
    display: block;
    animation: none;
    position: relative;
  }
</style>



<div *ngIf="service.modal" class="modal" tabindex="-1" role="dialog" style="display: block;">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <strong>
          <h5 class="modal-title">Nueva Cotización</h5>
        </strong>
        <button (click)="cerrarModal()" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">


<!--
          <div class="row">

          <p-dropdown [options]="cars" [(ngModel)]="selectedCar2" filter="true">
            <ng-template let-item pTemplate="selectedItem">
                           <img src="assets/showcase/images/demo/car/{{item.label}}.png" style="width:16px;vertical-align:middle" /> 
              <span style="vertical-align:middle; margin-left: .5em">{{item.label}}</span>
            </ng-template>
            <ng-template let-car pTemplate="item">
              <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
                                <img src="assets/showcase/images/demo/car/{{car.label}}.png" style="width:24px;position:absolute;top:1px;left:5px"/> 
                <div style="font-size:14px;float:right;margin-top:4px">{{car.label}}</div>
              </div>
            </ng-template>
          </p-dropdown>


          <div class="form-group col-6">
            <label for="viaticos">Viaticos</label>
            <input type="text" name="viaticos" id="" class="form-control" placeholder="">
          </div>

          <div class="form-group col-6">
            <label for="vigencia">Vigencia</label>
            <input type="text" name="vigencia" id="" class="form-control" placeholder="">
          </div>

          <div class="form-group col-6">
            <label for="metodoPago">Metodo pago</label>
            <input type="text" name="metodoPago" id="" class="form-control" placeholder="">
          </div>

          <div class="form-group col-6">
            <label for="fecha">Fecha</label>
            <input type="text" name="fecha" id="" class="form-control" placeholder="">
          </div>

          <div class="form-group col-6">
            <label for="responsable">Responsable</label>
            <input type="text" name="responsable" id="" class="form-control" placeholder="">
          </div>

          <div class="form-group col-6">
            <label for="estado">Estado</label>
            <input type="text" name="estado" id="" class="form-control" placeholder="">
          </div>

        </div>
-->




      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Save changes</button>
        <button (click)="cerrarModal()" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<div class="row" *ngIf="estado=='Listar'">


  <div class="card">
    <div class="card-header">
      <i class="fa fa-align-justify"></i> Protocolos

      <button type="button" class="btn btn-primary" (click)="estado='cotizar';">
              +
            </button>

    </div>
    <div class="card-body">
      <table datatable class="row-border hover text-center">
        <thead>
          <tr>
            <th>#</th>
            <th>Empresa</th>
            <th>Cliente</th>
            <th>Viaticos</th>
            <th>Vigencia</th>
            <!--             <th>Valor</th> -->
            <th>Metodo Pago</th>
            <th>Fecha Entrega</th>
            <th>Responsable</th>
            <th>Estado</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of cotizaciones">
            <td>{{item.idCotizEncab}}</td>
            <td>{{item.fkEmpresa.nombreEmpresa}}</td>
            <td>{{item.fkCliente.nombre}}</td>
            <td>{{item.viaticoValor}}</td>
            <td>{{item.vigencia}} Dia/s</td>
            <!--             <th>{{item.}}</th> -->
            <td>{{item.condicionPago}}</td>
            <td>{{item.entrega}}</td>
            <td>{{item.responsable}}</td>
            <td><button class="btn btn-secondary btn-sm btn-pill">{{item.estadoStr}}</button></td>
            <td><button type="button" class="btn btn-brand btn-behance" (click)="estado='cotizar';">
                <i class="fa fa-eye"></i>
              </button></td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>

</div>


<div class="container" *ngIf="estado=='cotizar'">
  <button (click)="estado='Listar'" class="btn btn-primary">Volver</button>

  <div class="row">
    <div class="col-8 card border border-primary">

      <div class="row p-3">


        <div class="form-group col-4">
          <label for="viaticos">Viaticos</label>
          <input type="text" name="viaticos" id="" class="form-control" placeholder="">
        </div>

        <div class="form-group col-4">
          <label for="vigencia">Vigencia</label>
          <input type="text" name="vigencia" id="" class="form-control" placeholder="">
        </div>

        <div class="form-group col-4">
          <label for="metodoPago">Metodo pago</label>
          <input type="text" name="metodoPago" id="" class="form-control" placeholder="">
        </div>

        <div class="form-group col-4">
          <label for="fecha">Fecha</label>
          <input type="text" name="fecha" id="" class="form-control" placeholder="">
        </div>

        <div class="form-group col-4">
          <label for="responsable">Responsable</label>
          <input type="text" name="responsable" id="" class="form-control" placeholder="">
        </div>

        <div class="form-group col-4">
          <label for="estado">Estado</label>
          <input type="text" name="estado" id="" class="form-control" placeholder="">
        </div>

<mat-form-field>
    <mat-select placeholder="Cliente" #singleSelect>
      <mat-option>
        <ngx-mat-select-search [placeholderLabel]="'Nombre del cliente'"
        [(ngModel)]="palabra_busqueda" [noEntriesFoundLabel]="'No se encontró el cliente'"></ngx-mat-select-search>
      </mat-option>
      <mat-option *ngFor="let cliente of clientes | filter:palabra_busqueda" [value]="cliente">
        {{cliente.nombre}}
      </mat-option>
    </mat-select>
  </mat-form-field>


    </div>

<!--     <div class="col-4 card border border-dark">

    </div> -->

  </div>

</div>



