<div class="spinner-border text-primary loading" role="status" *ngIf="loading">
  <span class="sr-only">Loading...</span>
</div>
<div class="row">
    <div class="col-8">
      <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"><i class="fa fa-search"></i></span>
          </div>
          <input type="search" class="form-control" placeholder="Buscar" [(ngModel)]="text">
        </div>
    </div>
    <div class="col-4">
      <button type="button" class="btn btn-brand btn-behance">
        <i class="fa fa-plus"></i><span>Nuevo Instrumentos</span>
      </button>
    </div>
  </div>
  <div class="card" *ngFor="let item of instrumento | filter: {nombre:text,codigo:text,responsable:text,hora:text}">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-8">
          <div class="item">{{item.idInstrumentos}}</div>
          <p class="nombre"><b>{{item.nombre}}</b></p>
          <p class="codigo">{{item.marca}}</p>
          <p class="responsable">{{item.modelo}}</p>
        </div>
        <div class="col-sm-4">
          <button type="button" class="btn btn-pill btn-primary ver"><i class="fa fa-eye"></i></button><br>
        </div>
      </div>
    </div>
  </div>
